table.reflex {
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Agenda-Light, sans-serif;
    font-weight: 100;
    /*background: #333; color: #fff;*/
    text-rendering: optimizeLegibility;
    border-radius: 5px;
}

table.reflex thead th { font-weight: 600; }
table.reflex thead th, table.reflex tbody td {
    padding: .8rem; font-size: 1.4rem;
}
table.reflex tbody td {
    padding: .8rem; font-size: 1.4rem;
    /*color: #444; background: #eee;*/
}
table.reflex tbody tr:not(:last-child) {
    /*border-top: 1px solid #ddd;*/
    /*border-bottom: 1px solid #ddd;*/
}

@media screen and (max-width: 600px) {
    table.reflex caption { background-image: none; }
    table.reflex thead { display: none; }
    table.reflex tbody td {
        display: block; padding: .6rem;
    }
    table.reflex tbody tr td:first-child {
        /*background: #666; color: #fff;*/
    }
    table.reflex tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 6rem;
    }
}