@import br.com.caelum.argentum.modelo.Negociacao
@import br.com.caelum.argentum.Formatters._
@(negociacoes: List[Negociacao])(implicit messages: Messages)


@template(messages("titulo.lista.negociacoes"),
	tab = "Lista",
	scripts = Html(
		"""
			|<script>$(document).ready(function() {$('#table-negociacoes').DataTable();});</script>
			|<script src="https://code.highcharts.com/stock/highstock.js"></script>
			|<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
			|
			|<script>
			|	$(function () {
			| 		$('#tab-indicadores').click(function(){
			| 			$.getJSON('http://localhost:9000/argentum/mms', loadChart);
			|
			|   	});
			|
			|});
			|
			|var loadChart = function(data){
			|	$('#chart-mms').highcharts(data);
			|}
			|$(
			|	function(){
			|		$('#btn-carregar-grafico').click(function(){
			|  			var base = $('[name|="indicado-base"]:checked').val()
			|  			var media = $('[name|="indicado-media-movel"]:checked').val()
			|  			$.getJSON('http://localhost:9000/argentum/'+base+'/'+media, loadChart);
			|    	})
			|
			|});
			|</script>
		""".stripMargin)) {


	<div class="page-header">
		<h1>@messages("titulo.lista.negociacoes")</h1>
	</div>

	<div class="panel with-nav-tabs panel-default">
		<div class="panel-heading">
			<ul class="nav nav-tabs" rule="tablist">
				<li class="active"><a data-toggle="tab" role="tab" href="#lista">Lista</a></li>
				<li><a id="tab-indicadores" data-toggle="tab" role="tab" href="#indicadores">Indicadores</a></li>
			</ul>
		</div>

		<div class="panel-body">
			<div class="tab-content">
				<div id="lista" class="tab-pane fade in active">
					<div class="table-responsive">
						<table id="table-negociacoes" class="table table-hover">
							<thead>
								<tr>
									<th>@messages("label.negociacao.preco")</th>
									<th>@messages("label.negociacao.quantidade")</th>
									<th>@messages("label.negociacao.volume")</th>
									<th>@messages("label.negociacao.data")</th>
								</tr>
							</thead>
							<tbody>
							@for(n <- negociacoes) {
								<tr>
									<td>@n.preco.toCurrencyFormat</td>
									<td>@n.quantidade</td>
									<td>@n.volume.toCurrencyFormat</td>
									<td>@n.data.formatTo</td>
								</tr>
							}
							</tbody>
						</table>
					</div>
				</div>
				<div id="indicadores" class="tab-pane fade">


					<div class="col-lg-4">

						<fieldset>
							<legend>Tipos</legend>

							<div class="radio">
								<label class="radio-inline">
									<input type="radio" name="indicado-base" id="ia" value="IA"> Abertura
								</label>
								<label class="radio-inline">
									<input type="radio" name="indicado-base" id="if" value="IF"> Fechamento
								</label>
							</div>

							<div class="radio">
								<label class="radio-inline">
									<input type="radio" name="indicado-media-movel" id="mms" value="MMS">
									Simples
								</label>
								<label class="radio-inline">
									<input type="radio" name="indicado-media-movel" id="mmp" value="MMP">
									Ponderada
								</label>
							</div>
						</fieldset>

						<button id="btn-carregar-grafico" class="btn btn-primary">Carregar</button>
					</div>


					<div class="col-lg-8">
						<div id="chart-mms" style="min-width: 310px;
							height: 400px;
							margin: 0 auto"></div>
					</div>
				</div>
			</div>
		</div>
	</div>


}