
@import br.com.caelum.argentum.modelo.Negociacao
@import br.com.caelum.argentum.Formatters._
@(negociacoes:List[Negociacao])(implicit messages: Messages)


@template(messages("titulo.lista.negociacoes"),
	tab="Lista",
	scripts = Html(
		"""
			|<script>$(document).ready(function() {$('#table-negociacoes').DataTable();});</script>
			|<script src="https://code.highcharts.com/stock/highstock.js"></script>
			|<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
			|
			|<script>
			|	$(function () {
			| $.getJSON('http://localhost:9000/argentum/mms', function (data) {
					// Create the chart
					$('#chart-mms').highcharts(data);
				});

			});
		</script>
		""".stripMargin)){


	<h3>@messages("titulo.lista.negociacoes")</h3>
	<hr/>

	<div class="table-responsive">
		<table id="table-negociacoes" class="table table-hover">
			<thead>
				<tr>
					<th>@messages("label.negociacao.preco")</th>
					<th>@messages("label.negociacao.quantidade")</th>
					<th>@messages("label.negociacao.volume")</th>
					<th>@messages("label.negociacao.data")</th>
				</tr>
			</thead>
			<tbody>
				@for(n <- negociacoes){
					<tr>
						<td>@n.preco.toCurrencyFormat</td>
						<td>@n.quantidade</td>
						<td>@n.volume.toCurrencyFormat</td>
						<td>@n.data.formatTo</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<fieldset>
				<legend>Média Movel</legend>
				<div class="radio">
					<label class="radio-inline">
						<input type="radio" name="indicado-media-movel" id="mms" value="mms"> Simples
					</label>
					<label class="radio-inline">
						<input type="radio" name="indicado-media-movel" id="mmp" value="mmp"> Ponderada
					</label>
				</div>
			</fieldset>
		</div>
		<div class="col-lg-6">
			<fieldset>
				<legend>Indicadores Base</legend>
				<div class="radio">
					<label class="radio-inline">
						<input type="radio" name="indicado-base" id="ia" value="Abertura"> Abertura
					</label>
					<label class="radio-inline">
						<input type="radio" name="indicado-base" id="if" value="Fechamento"> Fechamento
					</label>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div id="chart-mms" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		</div>
	</div>

}